<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeatDetector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BeatDetector.Properties.Settings>
            <setting name="BD_DETECTION_RANGES" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="BD_DETECTION_RATE" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="BD_DETECTION_FACTOR" serializeAs="String">
                <value>0.915</value>
            </setting>
            <setting name="BD_QUALITY_DECAY" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="BD_QUALITY_TOLERANCE" serializeAs="String">
                <value>0.96</value>
            </setting>
            <setting name="BD_QUALITY_REWARD" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BD_QUALITY_STEP" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="BD_MINIMUM_CONTRIBUTIONS" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="BD_FINISH_LINE" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BD_REWARD_TOLERANCES" serializeAs="Xml">
                <value>
                    <ArrayOfFloat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <float>0.001</float>
                        <float>0.005</float>
                        <float>0.01</float>
                        <float>0.02</float>
                        <float>0.04</float>
                        <float>0.08</float>
                        <float>0.1</float>
                        <float>0.15</float>
                        <float>0.3</float>
                    </ArrayOfFloat>
                </value>
            </setting>
            <setting name="BD_REWARD_MULTIPLIERS" serializeAs="Xml">
                <value>
                    <ArrayOfFloat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <float>20</float>
                        <float>10</float>
                        <float>8</float>
                        <float>1</float>
                        <float>0.5</float>
                        <float>0.25</float>
                        <float>0.125</float>
                        <float>0.0625</float>
                        <float>0.03125</float>
                    </ArrayOfFloat>
                </value>
            </setting>
        </BeatDetector.Properties.Settings>
    </userSettings>
</configuration>